* {
	box-sizing: border-box;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	background-color: rgba(0,0,0,0.4);
	transition: opacity 350ms;
}

#wheel {
	width: 100%;
	height: 100%;
	transition: opacity 350ms;
}

#ui {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 200px;
	width: 100%;
}

#buttons {
	padding: 0 10px;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	text-align: center;
}

.room-button {
	display: inline-block;
	background-color: white;
	color: #ef6b00;
	font-weight: bold;
	min-width: 50px;
	width: 10vw;
	height: 50px;
	line-height: 50px;
	margin: 5px;
}

.room-button .status-light {
	margin: 10px auto;
	width: 2vw;
	height: 2vw;
	background-color: #aaa;
	border-radius: 50%;
	transition: background-color 300ms;
}

.room-button.selected .status-light {
	background-color: green;
}

#spin-now {
	margin-left: 50%;
	margin-top: 20px;
	transform: translateX(-50%);
}

#done {
	display: none;
	margin-top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

#done #winner {
	font-size: 25vw;
	color: white;
	font-weight: bold;
	visibility: hidden;
}

#done #congratulate {
	font-size: 10vw;
	color: white;
	font-weight: bold;
	visibility: hidden;
}
